html {
		box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
	 	box-sizing: inherit;
 }

 .site-cotainer {
		max-width: 1200px;
 }

p,
ul,
ol {
		line-height: 180%;
}

@font-face {
		font-family: Futura Light;
		src: url("../fonts/Futura (Light).ttf");
}

body {
		background-image: url("../img/nightsky.jpg");
}

h1 {
		font-family: "Michroma", sans-serif;
		color: #ed1f24;
		font-size: 1.5em;
}

h3 {
		font-family: "Michroma", sans-serif;
		color: #414141;
		font-size: 1em;
}

header {
		width: 100%;
}

ul li {
		list-style-type: none;
}

a {
		font-family: "Futura Light";
		color: #109209;
		font-style: italic;
		font-weight: bolder;
}

#main {
		margin: auto;
		width: 100%;
}

a:hover {
		color: grey;
}

a .wrapper {
		max-width: 38em;
		padding: 2em 0;
}

p {
		padding-top: 25px;
		font-family: "Futura Light";
}

#header img {
		width: 100%;
		height: auto;
}

@media (min-width: 950px) {
    #blocks {
      float: right;
      width: calc(100% / 3 * 2);
    }

    #typography {
      float: left;
      width: calc(100% / 3 - 1.5em);
			margin-left: 200px;
    }
		.slime {
			float: left;
			margin-left: 5px;
		}
		.truck {
			float: left;
		}

		#colors {
			margin: auto;
		}
}

.logo2 {
		display: none;
}

@media all and (max-width: 600px) {
    .logo1 {
			display: none;
    }

		.logo2 {
			display: block;
		}

		#typography {
			padding: 20px;
			margin-right: 10px;
		}

		.outside img {
			width: 100%;
			height: auto;
		}
}

#typography {
		background-color: #FFFFFF;
		padding: 1% 5% 5%;
		margin: 0px 0px 10px 10px;
}

#colors li {
		color: transparent;
		display: inline;
		list-style-type: none;
		margin-bottom: 0.8em;
		margin-left: 0.6em;
}

.buttons li {
		list-style-type: none;
		display: inline-block;
		padding: 0px 5px 0px 5px;
}

.buttons img:hover {
    opacity: 0.5;
}
