


@font-face {
		font-family: Futura Light;
		src: url("fonts/Futura (Light).ttf");
}

header {
		width: 100%;
}

a .wrapper {
		max-width: 38em;
		padding: 2em 0;
}

#header img {
		width: 100%;
		height: auto;
}
